.site-badge-count-4 .ant-badge-count {
    color: #999;
    background-color: #fff;
    box-shadow: 0 0 0 1px #d9d9d9 inset;
}
[data-theme="dark"] .site-badge-count-4 .ant-badge-count {
    background-color: #141414;
    box-shadow: 0 0 0 1px #434343 inset;
}